<%-- 
Written by Brian DeMarzo (http://www.demarzo.net)
Derived from CodeSmith templates by Paul Weiter
--%>
<%@ CodeTemplate 
	Language="C#" 
	TargetLanguage="C#" 
	Description="Exposes common properties for all templates." 
	Debug="true" %>

<%@ Assembly Src="CommonUtility.cs" %>

<%@ Property Category="1. Mapping" Name="MappingFile" Type="System.String" Default="Mappings.config" Optional="False" Description="The full path to the mapping file." Editor="System.Windows.Forms.Design.FileNameEditor,System.Drawing.Design.UITypeEditor" %>
<%@ Property Category="1. Mapping" Name="MappingsFileEmbedLocation" Type="MappingsFileEmbedLocationEnum" Default="None" Optional="False" Description="If you wish to store your mappings file as an embedded resource in the Entity or Service project, choose an option here. Note that this will add the file to the project and mark it as embedded, so be sure the file is already in the desired folder." %>
<%@ Property Category="2. Entity Layer" Name="EntityNamespace" Type="System.String" Default="Entities" Optional="False" Description="The namespace for the entity layer." %>
<%@ Property Category="2. Entity Layer" Name="EntityFolder" Type="System.String" Default="" Optional="False" Description="The full path to the folder where entity layer files will be saved." Editor="System.Windows.Forms.Design.FolderNameEditor" %>
<%@ Property Category="2. Entity Layer" Name="EntityProjectFile" Type="System.String" Default="" Optional="False" Description="The full path to the entity project file." Editor="System.Windows.Forms.Design.FileNameEditor" %>
<%@ Property Category="2. Entity Layer" Name="EntityOverwrite" Type="System.Boolean" Default="True" Optional="False" Description="Set to true if you want to overwrite all autogenerated entity files, even if they already exist." %>
<%@ Property Category="2. Entity Layer" Name="EntityPartialOverwrite" Type="System.Boolean" Default="False" Optional="False" Description="Set to true if you want to overwrite all partial class entity files, even if they already exist. Note that if you made any custom changes to your partial classes, those changes will be lost!" %>
<%@ Property Category="2. Entity Layer" Name="ImplementIObjectHelper" Type="System.Boolean" Default="False" Optional="False" Description="Set to implement the IObjectHelper interface." %>
<%@ Property Category="2. Entity Layer" Name="ImplementCastleValidator" Type="System.Boolean" Default="False" Optional="False" Description="Support for the CastleProject Validators is available. Set this to 'true' to have the generator add 'using Castle.Components.Validator' in your entity classes." %>
<%@ Property Category="3. Service Layer" Name="GenerateServiceLayer" Type="System.Boolean" Default="True" Optional="False" Description="If you don't want to generate a separate service layer, set this to False." %>
<%@ Property Category="3. Service Layer" Name="ServiceNamespace" Type="System.String" Default="Services" Optional="False" Description="The namespace for the Service layer." %>
<%@ Property Category="3. Service Layer" Name="ServiceFolder" Type="System.String" Default="" Optional="False" Description="The full path to the folder where Service layer files will be saved." Editor="System.Windows.Forms.Design.FolderNameEditor" %>
<%@ Property Category="3. Service Layer" Name="ServiceProjectFile" Type="System.String" Default="" Optional="False" Description="The full path to the Service project file." Editor="System.Windows.Forms.Design.FileNameEditor" %>
<%@ Property Category="3. Service Layer" Name="ServiceOverwrite" Type="System.Boolean" Default="True" Optional="False" Description="Set to true if you want to overwrite all autogenerated entity files, even if they already exist." %>
<%@ Property Category="3. Service Layer" Name="ServicePartialOverwrite" Type="System.Boolean" Default="False" Optional="False" Description="Set to true if you want to overwrite all partial class entity files, even if they already exist. Note that if you made any custom changes to your partial classes, those changes will be lost!" %>
<%@ Property Category="4. Unit Tests" Name="GenerateUnitTests" Type="System.Boolean" Default="True" Optional="False" Description="Set to False to skip the creation of unit tests." %>
<%@ Property Category="4. Unit Tests" Name="UnitTestNamespace" Type="System.String" Default="Tests" Optional="False" Description="The namespace for the unit tests." %>
<%@ Property Category="4. Unit Tests" Name="UnitTestFolder" Type="System.String" Default="" Optional="True" Description="The full path to the folder where unit tests will be saved." Editor="System.Windows.Forms.Design.FolderNameEditor" %>
<%@ Property Category="4. Unit Tests" Name="UnitTestProjectFile" Type="System.String" Default="" Optional="True" Description="The full path to the unit test project file." Editor="System.Windows.Forms.Design.FileNameEditor" %>
<%@ Property Category="4. Unit Tests" Name="UnitTestOverwrite" Type="System.Boolean" Default="False" Optional="False" Description="Set to true if you want to overwrite all unit test files, even if they already exist." %>
<%@ Property Category="4. Unit Tests" Name="UnitTestFramework" Type="UnitTestFrameworkEnum" Default="NUnit" Optional="False" Description="The dotnet langauge to generate class for." %>
