<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="WilsonORWrapper" type="WilsonORWrapper.ConfigurationSettings,WilsonORWrapper" />
	</configSections>

	<connectionStrings>
		<add name="TestData" providerName="System.Data.SqlClient" connectionString="server=localhost;database=usertest;trusted_connection=true;"/>
	</connectionStrings>

	<appSettings>
		<add key="log4net-config-file" value="log4net.config"/>
	</appSettings>

	<WilsonORWrapper
		mappingsFileName="Mappings.config"
		mappingsFileLocation="UserApp.Entities.dll"
		mappingsFileSource="Assembly"
		connectionString="TestData"
		logger="NLog"
	/>
</configuration>
