<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="NLogInterceptor" xsi:type="File" fileName="${basedir}/nlog.log"
				layout="${longdate}|${level}|${message}"/>
	</targets>
	<rules>
		<logger name="NLogInterceptor" minlevel="Debug" writeTo="NLogInterceptor" />
	</rules>
</nlog>
