<?xml version="1.0" encoding="utf-8"?>
<mappings version="4.2" defaultNamespace="UserApp.Entities">
	<entity type="UserApp.Entities.Department" table="departments" keyMember="_departmentid">
		<attribute member="_departmentid" field="departmentid" alias="Departmentid" type="System.Int32" />
		<attribute member="_departmentMember" field="department" alias="DepartmentMember" type="System.String" />
		<attribute member="_managerUserid" field="manager_userid" alias="ManagerUserid" type="System.Int32" />
		<relation relationship="ManyToOne" member="_managerUser" field="manager_userid" alias="ManagerUser" type="UserApp.Entities.User" />
		<relation relationship="OneToMany" member="_users" field="departmentid" alias="Users" type="UserApp.Entities.User" />
	</entity>
	<entity type="UserApp.Entities.User" table="users" keyMember="_userid">
		<attribute member="_userid" field="userid" alias="Userid" type="System.Int32" />
		<attribute member="_username" field="username" alias="Username" type="System.String" />
		<attribute member="_password" field="password" alias="Password" type="System.String" />
		<attribute member="_departmentid" field="departmentid" alias="Departmentid" type="System.Int32" nullable="true" />
		<relation relationship="ManyToOne" member="_department" field="departmentid" alias="Department" type="UserApp.Entities.Department" />
		<relation relationship="OneToMany" member="_managerDepartments" field="manager_userid" alias="ManagerDepartments" type="UserApp.Entities.Department" />
	</entity>
</mappings>