<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="WilsonORWrapper" type="WilsonORWrapper.ConfigurationSettings,WilsonORWrapper" />
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<connectionStrings>
		<add name="WilsonORWrapper"
			connectionString="TestData.xml"
			providerName="Wilson.XmlDbClient" 
		/>
	</connectionStrings>
	<WilsonORWrapper
		mappingsFileName="Mappings.config"
		mappingsFileLocation="WilsonORWrapper.Tests.dll"
		mappingsFileSource="Assembly"
		connectionString="WilsonORWrapper"
		logger="None"
	/>
	
	<nlog>
		<targets>
			<target type="File" name="logFile" fileName="${basedir}/nlog.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}."/>
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeTo="logFile"/>
		</rules>
	</nlog>
	
	<log4net>
		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >

			<param name="File" value="log4net.log" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Size" />
			<param name="MaximumFileSize" value="5mb" />
			<param name="MaxSizeRollBackups" value="50" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
			</layout>
		</appender>

		<root>
			<priority value="DEBUG" />
			<appender-ref ref="rollingFile" />
		</root>
	</log4net>

</configuration>
