<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="wilsonorwrapper" type="WilsonORWrapper.ConfigurationSettings,WilsonORWrapper" />
	</configSections>
	<connectionStrings>
		<add name="TestData"
			connectionString="TestData.xml"
			providerName="Wilson.XmlDbClient" 
		/>
	</connectionStrings>
	<wilsonorwrapper
		mappingsFileName="Mappings.config"
		mappingsFilePath=".\"
		mappingsFileLocation="FileSystem"
		connectionString="TestData"
	/>
</configuration>
