<?xml version="1.0" encoding="utf-8"?>
<mappings version="4.2" defaultNamespace="WilsonORWrapper.Tests">
	<entity type="WilsonORWrapper.Tests.Contact" table="Contacts" keyMember="_id" keyType="User">
		<attribute member="_id" field="id" alias="ID" type="System.String" />
		<attribute member="_fname" field="fname" alias="FirstName" type="System.String" />
		<attribute member="_lname" field="lname" alias="LastName" type="System.String" />
	</entity>
	<entity type="WilsonORWrapper.Tests.Contact2" table="Contacts" keyMember="_id" keyType="User">
		<attribute member="_id" field="id" alias="ID" type="System.String" />
		<attribute member="_fname" field="fname" alias="FirstName" type="System.String" />
		<attribute member="_lname" field="lname" alias="LastName" type="System.String" />
	</entity>
</mappings>
